* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordian {
    
}

.icon {
    font-size: 1.5em;
}

.title {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #4c4a4a;
    color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid black;

}

.description {

    background: #4c4a4a;
    color: white;

    width: 300px;
    padding: 20px;
    border: 1px solid black;

}

.hidden {
    display: none;
}