* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.multi-selection {

    text-align: center;
    background: #4c4a4a;
    color: white;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;

    cursor: pointer;

}

/* .accordian {
    
} */

.icon {
    font-size: 1.5em;
    cursor: pointer;
}

.title {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #4c4a4a;
    color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid black;

}

.description {

    background: #4c4a4a;
    color: white;

    width: 300px;
    padding: 20px;
    border: 1px solid black;

}

.hidden {
    display: none;
}